.custom-content{

    --background: linear-gradient(to top, #1473de, #2e61ca, #3a4eb6, #413ca0, #44298b, #411f7b, #3e156c, #390a5d, #320b51, #2b0b44, #240b38, #1e092d);

}

.custom-toolbar{

    --background: transparent;
}


.loginImage{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
   
    
}


.custom-loginInput{

    --background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-text{

    font-size: 15px;
    margin: 10px;
}

ion-button{

    padding: 10px;
    
}

  
.validation-messages {
    display: flex;
    flex-direction: column; 
    margin-left: 10px; 
}
  
.validation-message {
     
    font-size: 12px;
    margin-top: 10px;
}