swiper-container {

    width: 100%;
    height: 100%;
  }
  
  
  
  swiper-slide {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .custom-bg-color{
  
    --background: linear-gradient(to top, #1473de, #2e61ca, #3a4eb6, #413ca0, #44298b, #411f7b, #3e156c, #390a5d, #320b51, #2b0b44, #240b38, #1e092d);
  
  }
  
  .sp-bg-color {
  
    --background: transparent;
  
  
  }
  
  ion-avatar{
  
   --border-radius: 50%;
  
  }
  
  img {
  
   padding: 20px;
  
  }