<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="ion-float-left" (click)="closeModal()">
        <ion-icon ion-margin-top name="close-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{artists_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let song of songs; index as i" (click)="selectSong(song)">

      <label>{{song.name}}</label>
    </ion-item>
  </ion-list>

</ion-content>
