.montserrat-main-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 38px;
    
  }

.custom-bg-color{

    --background: linear-gradient(to top, #1473de, #2e61ca, #3a4eb6, #413ca0, #44298b, #411f7b, #3e156c, #390a5d, #320b51, #2b0b44, #240b38, #1e092d);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    
}



ion-title{
    text-align: center;
    margin: 20px;
}



ion-toolbar{

    --background: transparent;
    
}

ion-avatar{

    height: 100%;
    width: 80%;
   
}