<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    
</head>

<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button [collpase]="true"></ion-menu-button>
            <ion-title class="montserrat-main-title">Home</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-bg-color" >

    <h1>Artists</h1>
    <swiper-container slides-per-view="4" speed="400">
        <swiper-slide *ngFor="let artist of artists">
            <ion-avatar>
                <img src="https://images-prod.dazeddigital.com/600/0-565-1890-1260/azure/dazed-prod/1330/7/1337869.jpg"/>
                <span>Mac DeMarco</span>
            </ion-avatar>
        </swiper-slide>
    </swiper-container>

</ion-content>

